.content {
  font-size: 0.8em;
  white-space: pre-wrap;
}

.collapsible > input[type=checkbox]:not(:checked) ~ .content {
  max-height: 0;
  visibility: hidden;
}

.noMarginBottomForLastChild {
  > *:last-child {
    margin-bottom: 0;
  }
}
