.wrapper {
  container-type: scroll-state;
  padding: 0px 0px 8px 8px;
  border-left: 4px solid #959eaa;

  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 0px;

  a {
    font-size: small;
    font-weight: bold;
  }

  a:focus,
  a:active {
    color: #00a47d;
  }

  position: relative;
}

.stickyTop {
  border-bottom: 1px solid #959eaa;
}

.borderRadiusLevel1 {
  border-radius: 16px 16px 16px 16px;
}

.borderRadiusLevel2 {
  border-radius: 8px 8px 8px 8px;
}

.isActive {
  border-left: 4px solid #ff5733;
  background-color: #fff6f1;
  // background-color: #ffecec;
}

a.lastActivityOfCurrentJobLink {
  color: #ff5733;
}

.isCompleted {
  background-color: #EFF0F1;
}

.isntCompleted {
  background-color: #FFF;
  color: #000;
}

.absoluteTopRightBadge {
  position: absolute;
  font-size: x-small;
  font-weight: bold;
  border-radius: 16px;
  padding: 2px 6px;
  top: -6px;
  right: -6px;

  background-color: #fff;
  border: 2px solid #EFF0F1;
  color: #959eaa;
}

.absoluteActiveBadgeRed {
  position: absolute;
  font-size: x-small;
  font-weight: bold;
  border-radius: 16px;
  padding: 2px 6px;
  bottom: -6px;
  right: -6px;
  z-index: 1;

  background-color: #fff;
  border: 2px solid #ff5733;
  color: #ff5733;
}

.descr {
  word-break: break-word;
}