.progressBar {
  box-sizing: border-box;
  & > * {
    box-sizing: border-box;
  }
  &_external {
    position: relative;
    width: 100%;
    height: 15px;
    line-height: 15px;
    background-color: lightgray;
    color: #000;
    font-family: system-ui;
    font-weight: bold;
    border-radius: 8px;
  }
  &_internal {
    font-size: 0.75em;
    height: 100%;
    white-space: pre;
    // content: `\'${label}\'`,
    // background-color:
    //   value < 0
    //     ? colorSubZero
    //     : value >= 0 && value < limits.warning
    //     ? colorNormal
    //     : value >= limits.warning && value < limits.danger
    //     ? colorWarning
    //     : colorDanger,
    // width: `${value <= 100 ? Math.abs(value).toFixed(0) : 100}%`,
    max-width: 100%;
    min-width: 22px;
    transition: width 0.3s ease-in;
    padding: 0 4px 0 4px;
    border-radius: 8px;

    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
  }
}
