.tree-content { word-break: break-word; }
@media (min-width: 1200px) {
  .container-main {
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 2.5fr) minmax(0, 20rem);
    grid-template-areas: "sidebar content toc";
  }
}
.tsd-widget {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 769px) {
  #tsd-toolbar-menu-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#tsd-search[open] {
  border-radius: 32px;
}
#tsd-search-input {
  border-radius: 16px;
}

:root[data-theme='dark'] .category__link._active {
  color: yellow;
  font-weight: bold;
}
:root[data-theme='light'] .category__link._active {
  font-weight: bold;
}

:root {
  /* Dark */
  --dark-color-background: #2b2e33;
  --dark-color-background-secondary: #1e2024;
  /* Not to be confused with [:active](https://developer.mozilla.org/en-US/docs/Web/CSS/:active) */
  --dark-color-background-active: #5d5d6a;
  --dark-color-background-warning: #bebe00;
  --dark-color-warning-text: #222;
  --dark-color-accent: #9096a2;
  --dark-color-active-menu-item: var(--dark-color-background-active);
  --dark-color-text: #f5f5f5;
  --dark-color-contrast-text: #ffffff;
  --dark-color-text-aside: #dddddd;

  --dark-color-icon-background: var(--dark-color-background-secondary);
  --dark-color-icon-text: var(--dark-color-text);

  --dark-color-comment-tag-text: var(--dark-color-text);
  --dark-color-comment-tag: var(--dark-color-background);

  --dark-color-link: #00aff4;
  --dark-color-focus-outline: #4c97f2;

  --dark-color-ts-keyword: #3399ff;
  --dark-color-ts-project: #e358ff;
  --dark-color-ts-module: var(--dark-color-ts-project);
  --dark-color-ts-namespace: var(--dark-color-ts-project);
  --dark-color-ts-enum: #f4d93e;
  --dark-color-ts-enum-member: var(--dark-color-ts-enum);
  --dark-color-ts-variable: #798dff;
  --dark-color-ts-function: #a280ff;
  --dark-color-ts-class: #8ac4ff;
  --dark-color-ts-interface: #6cff87;
  --dark-color-ts-constructor: var(--dark-color-ts-class);
  --dark-color-ts-property: #ff984d;
  --dark-color-ts-method: #ff4db8;
  --dark-color-ts-reference: #ff4d82;
  --dark-color-ts-call-signature: var(--dark-color-ts-method);
  --dark-color-ts-index-signature: var(--dark-color-ts-property);
  --dark-color-ts-constructor-signature: var(--dark-color-ts-constructor);
  --dark-color-ts-parameter: var(--dark-color-ts-variable);
  /* type literal not included as links will never be generated to it */
  --dark-color-ts-type-parameter: #e07d13;
  --dark-color-ts-accessor: #ff6060;
  --dark-color-ts-get-signature: var(--dark-color-ts-accessor);
  --dark-color-ts-set-signature: var(--dark-color-ts-accessor);
  --dark-color-ts-type-alias: #ff6492;
  /* reference not included as links will be colored with the kind that it points to */
  --dark-color-document: #ffffff;

  --dark-color-alert-note: #0969d9;
  --dark-color-alert-tip: #1a7f37;
  --dark-color-alert-important: #8250df;
  --dark-color-alert-warning: #9a6700;
  --dark-color-alert-caution: #cf222e;

  --dark-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='10' height='10'><path fill-opacity='0' stroke='%23fff' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");
  --dark-color-scheme: dark;
}