@use '~/shared/components/scss-vars/monitors.scss' as *;
@use '~/shared/components/scss-vars/colors.scss' as *;
@use '~/shared/components/scss-vars/sizes.scss' as *;
@use '~/shared/components/scss-vars/common.scss' as *;

@media(max-width: 465px) {
  .shadowWrapper {
    box-shadow: 4px 4px 8px rgb(163, 177, 198, 0.6),
      -4px -4px 8px rgba(255, 255, 255, 0.5);
  }
}

@media(min-width: 466px) {
  .shadowWrapper {
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);
  }
}

.roundedWrapper {
  border-radius: 24px;
}

// @media(max-width: #{$monitor-xs}px) {}
// @media(max-width: 465px) {}
// @media(min-width: 466px) {}

.absoluteBluredLayout {
  animation: 0.3s ease-in-out fade-in;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.1) 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border-radius: inherit;
}

.controlButton {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    outline: 2px solid #FFF;
  }
}