.absoluteBluredLayout {
  animation: 0.3s ease-in-out fade-in;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.1) 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border-radius: inherit;
}

.controlButton {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    outline: 2px solid #FFF;
  }
}