.wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  color: #fff;
  background-color: #f7f5fa;
  color: #000;
  border-radius: 8px;
}

.collapsed.active {
  &> :first-child {
    border-radius: 8px 0 0 0;
  }

  &> :last-child {
    border-radius: 0 8px 0 0;
  }
}

.collapsed {
  &> :first-child {
    border-radius: 8px 0 0 8px;
  }

  &> :last-child {
    border-radius: 0 8px 8px 0;
  }

  &> :not(:first-child) {
    border-left: 1px solid #fff;

  }

  .toggler {
    cursor: pointer;
    min-width: 50px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .gray {
    background-color: #fff;
    color: #9e9e9e;
  }

  .gray.active {
    background-color: #9e9e9e;
    color: #fff;
  }

  .warn {
    background-color: #ed6c02;
    color: #fff;
  }

  .red {
    background-color: #ff595e;
    color: #000;
  }

  .blue {
    background-color: #f7f5fa;
    color: #1565c0;
  }

  .blue.active {
    background-color: #1565c0;
    color: #fff;
  }

  .descr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}

.detailsPreviewWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.internalContent {
  // border: 2px dashed #ff595e;
  padding: 8px;
  border-radius: 0 0 8px 8px;
  background-color: #ed6c02;
  color: #fff;
  border-top: 1px solid #fff;
}