.mainWrapper {
  // outline: 4px solid lightgray;
  word-break: break-word;
  background-color: #effaff;
}

.mainWrapper.whiteColor {
  color: #fff;

  & a {
    color: #fff;
  }

  .date {
    color: #fff !important;
  }
}

.mainWrapper.warningDashedBorder {
  // border: 2px solid lightgray;
  border: 2px solid #fff;
  outline: 4px dashed #9b6f00;
  // outline-offset: 4px;
  // .date {
  //   color: #fff;
  // }
}

.mainWrapper.defaultWrapper {
  // outline: 4px solid lightgray;
  // border: 2px solid #fff;
  background-color: #f7f7f7;
  // box-shadow: 7px 7px 14px #d7e1e6,
  //   -7px -7px 14px #ffffff;
}

.mainWrapper.warningSolidBorder {
  border: 2px solid #fff;
  outline: 4px solid #9b6f00;
  // outline-offset: 4px;
}

.mainWrapper.redSolidBorder {
  border: 2px solid #fff;
  outline: 4px solid #e63946;
  // outline-offset: 4px;
}

.mainWrapper.activeDashedBorder {
  border: 2px solid #fff;
  outline: 4px dashed #00b0ff;
  // outline-offset: 4px;
  box-shadow: none;
}

.btnAsLink {
  line-height: 16px;
  word-break: break-word;
  font-size: small;
  font-weight: bold;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
  background-color: transparent;
  padding: 0px;
  width: fit-content;
  color: inherit;

  &:hover {
    color: #00a47d;
  }
}