@use '~/shared/components/scss-vars/monitors.scss' as *;

.wrapper {
  // padding: 24px 16px;
  // padding-top: 16px;
  // padding-left: 16px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  padding: 24px 0px 0px 0px;

  font-size: 13px;
  box-shadow: none;

  position: fixed;
  z-index: 53;

  // border: 2px solid #FFF;
  // background-color: #FFF;
  box-sizing: border-box;
}

@media(max-width: #{$monitor-sm}px) {
  .wrapper {
    width: calc(100vw);
    min-height: calc(100svh);
    border-radius: 0px;
  }
}

@media(min-width:calc(#{$monitor-sm}px + 1px)) {
  .wrapper {
    width: 350px;
    min-height: calc(100svh);
    border-radius: 0px;
  }
}

.contentLimited {
  // max-height: calc(100vh - 160px);
  // NOTE: Full - search text height - s.t. pad bottom - s.t. pad top - pad bottom - border x2: 2px
  max-height: calc(100svh - 40px - 16px - 24px - 24px - 24px - 16px - 80px + 4px);
  overflow-y: auto;
  overscroll-behavior: contain;

  // &>* {
  //   padding-left: 16px;
  // }

  // &>*:last-child(-1) {
  //   padding-bottom: 24px;
  // }

  // &>* {
  //   border: 1px solid red;
  // }

  word-break: break-word;
}

@media(max-width: #{$monitor-sm}px) {
  .contentLimited {
    min-height: calc(100svh - 40px - 16px - 24px - 24px - 24px - 16px - 80px + 4px);
  }
}

@media(min-width:calc(#{$monitor-sm}px + 1px)) {
  .contentLimited {
    min-height: calc(100svh - 40px - 16px - 24px - 24px - 24px - 16px - 80px + 4px);
  }
}

.fixedToggler {
  z-index: 54;
  position: fixed;
  top: 50%;
  right: 6px;
  transform: translateY(40px);
}

.toggler {

  &:hover,
  &:focus,
  &:active {
    border-width: 2px;
    border-color: #959eaa;
  }

  cursor: pointer;
  // position: absolute;
  // top: 0;

  // left: 50%;
  // transform: translateX(-50%) translateY(calc(100% + 8px));

  // left: calc(44px + 4px);
  // transform: translateY(calc(100% + 8px));

  border: 2px solid #959eaa;
  border-radius: 24px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.toggler.isActive {
  background-color: #959eaa;
  color: yellow;
}

.leftSideCenterBottom {
  // z-index: 50;
  // border: 2px solid #959eaa;
  border-left: none;

  top: 0px;
  left: 0px;
  // border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.leftSideCenterBottom.isClosed {
  // transform: translateY(40px) translateX(0%);
  transform: translateX(-100%);
  transition: all 0.75s ease-in-out;
}

.leftSideCenterBottom.isOpened {
  // transform: translateY(40px) translateX(0%);
  transform: translateX(0%);
  transition: all 0.9s ease-in-out;
  // box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 4px;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}