.fixed {
  position: fixed;
  z-index: 1;
}

.wrapper {
  bottom: 50%;
  right: 16px;
  transition: transform 0.4s ease-in;
  transform: translateX(100px) translateY(50%);

  width: 56px;
  height: 56px;
  border-radius: 50% 0px 0px 50%;
  // box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  border: 2px solid #959eaa;
  border-right-color: none;
  border-right-width: 0px;
  display: flex;
  background-color: #FFF;
  cursor: pointer;

  justify-content: center;
  align-items: center;
}

.isRequired {
  transform: translateX(0px + 16px) translateY(50%);
}