.fixed {
  position: fixed;
  z-index: 50;
}

// bg color
@property --bg-color {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

// text color
@property --text-color {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@keyframes scrollProgress {

  0%,
  50% {
    --bg-color: 0%;
    // Цвет зафиксирован до 50% скролла
    --text-color: 0%;
  }

  70% {
    --text-color: 0%;
  }

  70.1% {
    --text-color: 100%;
  }

  100% {
    --bg-color: 100%;
    --text-color: 100%;
  }
}

.wrapper {
  bottom: 50%;
  right: 16px;
  transition: transform 0.4s ease-in;
  transform: translateX(100px) translateY(50%);

  // width: 56px;
  padding: 0 16px 0 24px;
  height: 56px;
  border-radius: 56px 0px 0px 56px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  // border: 2px solid #959eaa;
  border: 2px solid #FFF;
  border-right-color: none;
  border-right-width: 0px;
  display: flex;
  // background-color: #FFF;
  cursor: pointer;

  justify-content: center;
  align-items: center;

  /* Привязываем анимацию к скроллу всей страницы */
  animation: scrollProgress linear;
  animation-timeline: scroll();

  /* Используем переменную для изменения цвета */
  /* Например, переход от синего к красному через color-mix */
  background-color: color-mix(in srgb, #FFF, #FF5733 var(--bg-color));
  color: color-mix(in srgb, #1976d2, #FFFFFF var(--text-color));

  /* Или через HSL (меняем тон от 0 до 100) */
  /* border-color: hsl(calc(var(--g) * 1.2), 70%, 50%); */
  // inset: 20px;
}

.isRequired {
  transform: translateX(0px + 16px) translateY(50%);
}