.checklistWrapper {
  // border: 1px dashed red;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  // padding-left: 8px;
}

.activeChecklistItem {
  border: 1px solid red;
}
.inlineControlBtn {
  cursor: pointer;
}
.checklistItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;

  .checkerAndControls {
    // border: 1px solid red;
    // border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .actionIconWrapper {
      width: 24px;
      height: 24px;

      // border: 1px solid red;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .infoStack {
    padding-top: 2px;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 2px;

    word-break: break-word;

    .descr {
      color: inherit;
    }
    .throughText {
      text-decoration: line-through;
    }
  }

  .checklistItemControls {
    min-width: 62px;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    gap: 1px;
  }
}

.disabledBox {
  opacity: 0.5;
}

.commentBox {
  .default {
    border: 2px solid #959eaa;
  }
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  min-height: 52px;
  position: relative;
  font-weight: bold;
  font-size: small;
}
.commentBoxMini {
  &.default {
    border: 2px solid #959eaa;
  }
  &.success {
    border: 2px solid #7fd1ae;
  }
  display: flex;
  flex-direction: column;
  min-height: 52px;
  position: relative;
  font-weight: bold;
  font-size: small;
}
.connectedOnTheTop {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.rounded {
  border-radius: 16px;
  & > .absoluteBadgeTopRight {
    border-radius: 0 10px 0 16px;
  }
  & > .absoluteBadgeBottomLeft,
  & > .absoluteBadgeBottomLeftSuccess {
    border-radius: 0 16px 0 10px;
  }
}

.editableCommentBox {
  padding: 24px 16px 48px 16px;
}
.editableCommentBoxMini {
  padding: 8px 8px 48px 8px;
}
.absoluteBadgeTopRight {
  position: absolute;
  top: 0px;
  right: 0px;
  // background-color: rgb(203, 213, 225);
  background-color: #959eaa;
  color: #fff;
  // ...
  padding: 0px 16px 2px 16px;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
}
.absoluteBadgeBottomLeft {
  position: absolute;
  bottom: 0px;
  left: 0px;
  // background-color: rgb(203, 213, 225);
  &.default {
    background-color: #959eaa;
  }
  &.success {
    background-color: #7fd1ae;
  }
  color: #fff;
  // ...
  padding: 2px 16px 0px 16px;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
}
.absoluteControls {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: #fff;
  display: flex;
  gap: 1px;

  & button {
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
  }

  & button:first-child:not(:last-child) {
    border-radius: 8px 0px 0px 8px;
  }
  & button:last-child:not(:first-child) {
    border-radius: 0px 8px 8px 0px;
  }
}
.btnDelete {
  background-color: red;
  color: #fff;
  &:hover {
    background-color: red;
  }
}
.btnEdit {
  background-color: #1565c0;
  color: #fff;
  &:hover {
    background-color: #1565c0;
  }
}
.commentTitle {
  max-width: 100%;
}
.commentDescription {
  height: 100%;

  & > pre {
    // border-radius: 16px 16px 0px 0px;
    margin-bottom: 0px;
    background-color: transparent;
    padding: 0px 0px 0px 8px;
    // border-left: 4px dashed gray;
    // border-radius: 0px;
  }
}
.commentAction {
  display: flex;
  align-items: center;
  & > div {
    margin-left: auto;
    display: flex;
    gap: 8px;
  }
}
