.mainWrapper {
  // outline: 4px solid lightgray;
}
.mainWrapper.whiteColor {
  color: #fff;
  & a {
    color: #fff;
  }
  .date {
    color: #fff !important;
  }
}
.mainWrapper.warningDashedBorder {
  // border: 2px solid lightgray;
  border: 2px solid #fff;
  outline: 4px dashed #9b6f00;
  // .date {
  //   color: #fff;
  // }
}

.mainWrapper.defaultWrapper {
  // outline: 4px solid lightgray;
  // border: 2px solid #fff;
}

.mainWrapper.warningSolidBorder {
  border: 2px solid #fff;
  outline: 4px solid #9b6f00;
}

.mainWrapper.redSolidBorder {
  border: 2px solid #fff;
  outline: 4px solid #e63946;
}
.mainWrapper.activeDashedBorder {
  border: 2px solid #fff;
  outline: 4px dashed #00b0ff;
}
