.highlighted-inline-code {
  font-family: system-ui;
  font-weight: bold;
  padding: 2px 5px;
  background-color: #959eaa;
  border-radius: 6px;
  color: yellow;
}

.highlighted-inline-code--simple {}
.highlighted-inline-code--special {
  background-color: #ff5733;
}
