@keyframes old-caret {
  from, 50% { caret-color: black; }
  75%, to { caret-color: transparent; }
}

input, textarea {
  /* caret: block manual !important;
  animation: old-caret 2s infinite !important; */
  /* styling of the screen omitted for brevity */

  caret-shape: underscore !important;
  font-family: monospace;
}
