@keyframes old-caret {
  from, 50% { caret-color: black; }
  75%, to { caret-color: transparent; }
}

input, textarea {
  /* caret: block manual !important;
  animation: old-caret 2s infinite !important; */
  /* styling of the screen omitted for brevity */

  caret-shape: underscore !important;
  font-family: monospace;
}

a {
  color: #0052b6;
}
a:hover {
  color: #00a47d;
}
a:focus {
  color: #78fac5;
}
a:active {
  color: #00a47d;
}

.PhotoView-Slider__Counter {
  white-space: nowrap;
}
